@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #CA4361
}

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: "Inter", sans-serif;
}

.nav-bar {
    display        : flex;
    justify-content: space-between;
    padding        : 80px;
    align-items    : center;
    max-width      : 1400px;
    margin         : 0 auto;
    flex-wrap      : wrap;
}

.nav-links ul {

    display   : flex;
    list-style: none;
    gap       : 25px;


}

.active {
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color          : black;
    font-weight    : 600;
    font-size      : 1.2rem;
    transition     : all 0.3s;
}

.nav-links ul li a:hover {
    color: var(--primary-color);
}



.active::after {
    content         : "";
    position        : absolute;
    width           : 25px;
    height          : 3px;
    top             : 20px;
    left            : 20px;
    margin-top      : 8px;
    background-color: var(--primary-color);


}


.btn {
    padding         : 12px 32px;
    font-size       : 20px;
    font-weight     : 400;
    color           : white;
    background-color: var(--primary-color);
    border          : none;
    border-radius   : 5px;
    cursor          : pointer;
    transition      : all 0.3s;
}

.nav-btn .login-btn {
    background-color: transparent;
    border          : 1px solid var(--primary-color);
    color           : var(--primary-color);
    margin-left     : 10px;


}

.nav-btn .login-btn:hover {
    background-color: var(--primary-color);
    border          : 1px solid var(--primary-color);
    color           : white
}


.nav-btn .sign-up-btn:hover {
    background-color: transparent;
    border          : 1px solid var(--primary-color);
    color           : var(--primary-color);


}



.main-container {
    display    : flex;
    margin     : 0 auto;
    margin-top : 15px;
    width      : 1100px;
    align-items: center;
    gap        : 10px;



}

.main-container h1 {
    font-size  : 50px;
    font-weight: 600;
    line-height: 60px;
}


.main-container h1 span {
    color: var(--primary-color);

}

.main-container p {
    color      : gray;
    font-size  : large;
    width      : 300px;
    line-height: 25px;
    margin     : 20px 0px;
}

.main-container .cta {
    padding: 12px 80px;
}


.main-container img {
    /* width: fit-content; */
}